button {
    background-color: blue;
    padding: 10px 15px;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}